.diario{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:340px;

    perspective:2200px;

    z-index:10;

    animation:aparecer 1.8s ease forwards;

    opacity:0;

}

.portada{

    width:100%;

    display:block;

    filter:

    drop-shadow(0 30px 50px rgba(0,0,0,.35));

}

.portada-wrap{

    transition:.8s;

    transform-origin:left center;

}